replicaCount: 1

image:
  repository: danyzift/ch-games-service
  pullPolicy: IfNotPresent
  tag: "0.0.2"
  registry: docker.io

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8080"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 500m
    memory: 1024Mi
  requests:
    cpu: 250m
    memory: 512Mi

startupProbe:
  httpGet:
    path: /actuator/health
    port: http
  initialDelaySeconds: 45
  periodSeconds: 10
  failureThreshold: 30

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: http
  initialDelaySeconds: 0
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: http
  initialDelaySeconds: 0
  periodSeconds: 10

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# OpenTelemetry configuration
opentelemetry:
  enabled: false
  instrumentations:
    jdbc: false
    kafka: false
    logback: false
    r2dbc: false

# PostgreSQL configuration
postgresql:
  image: postgres:18.1-alpine
  database: CH-GamesDB
  user: chuser
  password: ch-password
  persistence:
    size: 5Gi
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi